
html, body {
	width: 100%;
	height: 100%;
}
	

header {
	background-color: gray;
	height: 130px;
	z-index: 0;
}

footer {
	background-color: black;
	height: 100px;
	width: 100%;
	z-index: -1;
	position: absolute;
	bottom: 0;
}

#left {
	height: 80%;
	width: 100px;
	background-color: #D3D3D3;
	position: absolute;
	left: 0;
}

#right {
	height: 80%;
	width: 100px;
	background-color: #D3D3D3;
	position: absolute;
	right: 0;
}